port 1194
topology subnet
server 129.13.74.64 255.255.255.192
ifconfig-pool-persist ipp.txt
proto tcp
dev tun-gpi
ca /etc/ssl/easy-rsa/keys/ca.crt
cert /etc/ssl/easy-rsa/keys/{{inventory_hostname}}.crt
key /etc/ssl/easy-rsa/keys/{{inventory_hostname}}.key
dh /etc/ssl/dh/dh4096.pem
keepalive 10 120
cipher AES-256-CBC
# Kann insys nicht :(
#auth sha384
auth sha1
user root
group root
persist-key
persist-tun
verb 3
client-to-client
push "route 192.168.0.0 255.255.0.0 129.13.74.65 1"
client-config-dir /etc/openvpn/server/gpi-clients/
script-security 2
client-connect /etc/openvpn/server/gpi-route.sh
client-disconnect /etc/openvpn/server/gpi-route.sh
